PORT=5050
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/vera_real_estate

# Auth (production’da güçlü secret kullan)
JWT_SECRET=super_secret_jwt_key_degistirilecek
JWT_EXPIRES_IN=1d

# Cloudinary (optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
